.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 8%;
    background:
        linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
        url("../assets/hero/croco.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 640px;
    color: white;
    animation: fadeUp 1.2s ease;
}

.subtitle {
    font-family: "Michroma", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 12px;
    color: var(--gold);
}

.hero h1 {
    font-size: 82px;
    font-weight: 500;
    line-height: 1.05;
    margin-bottom: 28px;
}

.description {
    max-width: 540px;
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 45px;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(35px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 900px) {
    .hero {
        justify-content: center;
        text-align: center;
        padding: 150px 8% 60px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .description {
        font-size: 18px;
    }
}