/* ===================================
   HERO SECTION
=================================== */

.hero {

    min-height: 100vh;

    display: flex;

    align-items: center;

    padding: 0 8%;

    background:
        linear-gradient(
            rgba(247,245,242,0.15),
            rgba(247,245,242,0.15)
        ),
        url("../assets/hero/hero-bag.jpeg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* ===================================
   HERO CONTENT
=================================== */

.hero-content {

    max-width: 620px;

    animation: fadeUp 1.3s ease;

}

.subtitle {

    font-size: 14px;

    letter-spacing: 5px;

    text-transform: uppercase;

    color: white;

    margin-bottom: 25px;

}

.hero h1 {

    color: white;

    font-size: 78px;

    font-weight: normal;

    line-height: 1.05;

    margin-bottom: 30px;

}

.description {

    color: rgba(255,255,255,0.90);

    font-size: 20px;

    line-height: 1.8;

    margin-bottom: 45px;

}

.btn {

    background: white;

    color: black;

    border: none;

}

.btn:hover {

    background: black;

    color: white;

}

/* ===================================
   ANIMATION
=================================== */

@keyframes fadeUp {

    from {

        opacity: 0;

        transform: translateY(40px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}

/* ===================================
   MOBILE
=================================== */

@media(max-width:900px){

.hero{

text-align:center;

justify-content:center;

}

.hero h1{

font-size:48px;

}

.description{

font-size:17px;

}

}
